.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
}
.center-vertically {
    top: 50%;
    position: relative;
    margin-top: -200px;
}
.front-page-container {
    background: none;
    height: 100%;
    margin-top: -51px;
}
body, html {
    height: 100%;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.gallery{ width:100%; float:left; margin-top:30px;}
.gallery ul{ margin:0; padding:0; list-style-type:none;}
.gallery ul li{ padding:7px; border:2px solid #ccc; float:left; margin:10px 7px; background:none; width:auto; height:auto;}
.gallery img{ width:250px;}
.none{ display:none;}
.upload_div{ margin-bottom:50px;}
.uploading{ margin-top:15px;}
